body {
    display: flex;
    justify-content: center;
    
}

#wrapper {
    margin-left: 30%;
    margin-right: 30%;
    line-height: 2;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    
}
#wrapper a {
    color: black;
}