@font-face{
    font-family: OpenSans;
    src: url(OpenSans.ttf);
  }
  
  @media only screen and (min-width: 600px) {
#wrapper {
    display:grid;
    grid-template-columns: repeat(12, 60px);
    grid-template-rows: repeat(auto, 60px);
    
    
}

body{

    background-repeat: repeat-y;
        display: flex;
    justify-content: center;
    
}
#main{
    grid-column-start: 1;
    grid-row-start: 4;
    grid-row-end: auto;
    grid-column-end: 9;
    margin-top: 30px;
    margin-left: 30px;
    font-size: 20px;
    font-family: Arial;
    text-align: justify;
    line-height: 1.6;

   

    
}
#links {
    line-height: 1.4;
    text-decoration: underline;
    font-size: large;
    font-weight: 600;
}

#main a {
  text-decoration: none;
  color: black;
}


#navbar {
    grid-column-start: 10;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 4;
    font-size: 28px;
     line-height: 2;
  
    font-family: Garamond; 
    
}

#navbar ul{
    list-style: none;
}

#navbar a {
    outline: none;
  text-decoration: none;
  color: black;
}
  }

 @media only screen and (max-width: 600px) {
#wrapper {
    display: inline-block;
    justify-content: center;
    
}

body{

    background-repeat: repeat-y;
        display: flex;
    justify-content: center;
    
}
#main{

    margin: 20%;
    font-size: 20px;
    font-family: Arial;
    text-align: justify;
    line-height: 1.6;
   

    
}

#main a {
  text-decoration: none;
  color: black;
}


#navbar {
    font-size:  40px;
    text-align: center;
}

#navbar ul{
    list-style: none;
}

#navbar a {
    outline: none;
  
  color: black;
}
  }
  
