<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hello, world!</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="stylesheet" type="text/css" href="/styletag.css" />
  <link rel="icon" href="img/favicon.png">
</head>
<body>
    <div id = wrapper>
      
  <h1>#{{ term.name }}</h1>
  <h2>Articles Under this Tag:</h2> <br>
  {% for page in term.pages %}
    <a href = "{{page.permalink}}">{{page.title}} </a> <br>
  {% endfor %}
  <a href = "/writings">/</a>
  </div>


</body>
</html>