<!DOCTYPE html>

<html lang="en">

<head>

  <title>infantilecosmism</title>

  <meta charset="UTF-8" />

  <meta name="viewport" content="width=device-width,initial-scale=1" />

  <meta name="description" content="" />

  <link rel="stylesheet" type="text/css" href="style.css" />

  <link rel="icon" href="img/favicon.png">
  
  <script data-goatcounter="https://infantilecosmism.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>

</head>

<body>

<div id = wrapper>
  <a href ="/" >
    <img src = proun.png >
    </a>

  <div id = main ><h1 style = "font-size: 64px;"> {{config.title}} </h1>
    <audio controls = "controls"> <source src = "sadnesscity.m4a" type = "audio/mp4" ></audio>
    <h2>Links:</h2>
    <hr>
    <div  id = links>
    <a href = "https://alexandria.infantilecosmism.net">Books I've Read</a> <br>
      <a href = "https://infantilecosmism.net/worldbuilds">Worldbuilds</a>
      
      </div>
  </div>"
  
  <div id = navbar> <ul> <li><a href = "/about">about</a> </li> <li><a href = "/writings">writings</a></li> <li><a href = "/contact">contact</a></li><li><a href="">archive</a></li> <li><a href ="/atom.xml">rss</a></li></a></li> </ul> </div>
  
</div>

</body>

</html>
